input[type="checkbox"] {
   --checkbox-border-clr: #8b8c89;
   --checkbox-checked-clr: #274c77;
   --checkbox-hover-clr: #a3cef1;
   --checkbox-disabled-bg-clr: #d9d9d9;

   appearance: none;
   background-color: transparent;
   outline: none;
   width: 20px;
   height: 20px;
   padding: 0;
   border: 2px solid var(--checkbox-border-clr);
   transition: outline 0.1s;
   &:checked {
      background-size: cover;
      padding: 2px;
   }
   &:not(:disabled):checked {
      border-color: var(--checkbox-checked-clr);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23274c77" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
   }
   &:disabled {
      background-color: var(--checkbox-disabled-bg-clr);
      &:checked {
         background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %238b8c89" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
      }
   }
   &:focus-visible {
      outline: 6px solid var(--checkbox-hover-clr);
      transform: scale(1.05);
      @media (prefers-reduced-motion: reduce) {
         transform: scale(1);
      }
   }

   @media (hover: hover) {
      &:not(:disabled):hover {
         background-color: var(--checkbox-hover-clr);
         outline: 6px solid var(--checkbox-hover-clr);
         transform: scale(1.05);
         @media (prefers-reduced-motion: reduce) {
            transform: scale(1);
         }
      }
   }

   @media (prefers-reduced-motion: reduce) {
      transition: none;
   }
}
